// Override default variables before the import
// $body-bg: #000;
// $primary:red;
//this is header
$primary: #8bc4b2;
//this is the cards
$text-warning: #f53978;
$secondary: #8bc4b2;
$text-primary: #313628;

.jumbotron {
  background-image: url("../src/components/images/hero.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-color: white;
  opacity: 50%;
}

// Import Bootstrap and its default variables
@import "~bootstrap/scss/bootstrap.scss";
